fastapi
uvicorn[standard]
pydantic
httpx
sentence-transformers
numpy
qdrant-client
python-multipart
tenacity
rich
pandas
matplotlib
asyncpg

pydantic-settings
sqlalchemy
alembic
psycopg2-binary

websocket
tabulate