# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Development files
.git
.github
.gitignore
.env
.env.local
.env.development
.env.test
.env.production

# IDE and editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Testing files
coverage
cypress
tests
jest.config.js

# Miscellaneous
.DS_Store
Thumbs.db
README.md
LICENSE
*.md